<!DOCTYPE html>
<html>
<head>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body class="bg-light">
    <div>
        <h2 class="text-center  text-white text-wrap bg-danger p-2 ">Blog Application</h2>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
