<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h2 class="text-center  text-white text-wrap bg-danger p-2 ">Blog Application</h2>
    </div>
    <br />
    <br />
    <br />
    <div>
        <h2 class=" text-dark bg-warning text-secondary text-center">Welcome To Blog Application</h2>
    </div>
    <br />
    <br />
    <br />
    <div class="text-center">
        <a class=" btn btn-info btn-lg text-white" asp-controller="Home" asp-action="Login" style="width:150px">Login</a>
    </div>
    <br />
    <div class="text-center">
        <a class=" btn btn-info btn-lg text-white" asp-controller="Home" asp-action="SignUp" style="width:150px">Signup</a>
    </div>
</body>
</html>