@using BlogApplication_Mcsf19a002.Models
@model Post

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="container-fluid p-lg-2">
    <section class="container-fluid p-lg-2">
        <div class="text-center">
            <div class="p-3">
                <h2>@Model.Title</h2>
            </div>
            <div>
                <p>@Model.Content</p>
            </div>
        </div>
    </section>
</section>
